.back-de {
    margin-left: 600px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 24px;
    cursor: pointer;
    
}

.cardStyle {
    align-items: center;
    width: 280px;
    padding: 32px 64px 32px 64px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
} 

.bookShow {
    text-align: center;
    margin-top: 16px;
}

/*.back {
    cursor: pointer;
} */

/*.cardStyle {
    width: 280px;
    padding: 32px 64px 32px 64px;
    margin: auto;
    text-align: left;
} */

.formControl {
    width: 240px;
}

.marginTop16 {
    margin-top: 16px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}