.header-A {
    background-color: black;
    height: 30px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;

}

.login-but {
    float: right;
}

.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
 }
 
 .bookshow-button {
     float: right;
     margin-right: 8px;
 }
 
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }

 .Tabs {
     margin-bottom: 20px;
 }

 .dispNone {
     display: none;
 }

 .dispBlock {
     display: block;
 }

 .red {
     color: red;
 }